= wrap_layout :has_navigation do
  = yield

  - content_for :navigation do
    %nav.sl-c-list-navigation-wrapper
      :markdown
        ### [Руководство по стилю](/styleguide)

        - [Бренд](/styleguide/brand)
        - [Цвет](/styleguide/color)
        - [Типографика](/styleguide/typography)
        - [Макет](/styleguide/layout)
        - [Компоненты](/styleguide/components)
        - [Код](/styleguide/code)
