---
title: Syntactically Awesome Style Sheets
h1: CSS со сверхвозможностями
no_container: true
---


.sl-l-grid.sl-l-grid--full.sl-l-large-grid--fit.sl-l-large-grid--center.sl-l-large-grid--gutters-large
  .sl-l-grid__column
    %p.sl-c-introduction
      Sass - самый зрелый, стабильный и мощный язык расширений CSS
      профессионального уровня в мире.

  %p.sl-l-grid__column
    = image_tag 'illustrations/glasses.svg', height: '160', alt: 'Glasses'

- content_for :section_bottom do
  %ul.sl-l-grid.sl-l-grid--full.sl-l-medium-grid--gutters-large.sl-l-medium-grid--divide-by-2.sl-l-large-grid--divide-by-3.sl-l-section
    %li.sl-l-grid__column
      :markdown
        ## Совместимость с CSS

        Sass полностью совместим со всеми версиями CSS.
        Мы серьезно относимся к этой совместимости,
        чтобы вы могли беспрепятственно использовать любые доступные библиотеки CSS.

    %li.sl-l-grid__column
      :markdown
        ## Богатые возможности

        Sass может похвастаться большим количеством функций и возможностей,
        чем любой другой язык расширений CSS. Команда Sass Core работала бесконечно,
        чтобы не только идти в ногу со временем, но и оставаться впереди.

    %li.sl-l-grid__column
      %h2 Зрелый

      %p
        Sass активно поддерживается в течение
        = time_ago_in_words DateTime.parse('Tue Nov 28 19:43:58 2006 +0000')
        его любящей основной командой.

    %li.sl-l-grid__column
      :markdown
        ## Утверждено в отрасли

        Снова и снова индустрия выбирает Sass в качестве основного языка расширений CSS.

    %li.sl-l-grid__column
      :markdown
        ## Большое сообщество

        Sass активно поддерживается и развивается консорциумом нескольких технологических компаний и сотен разработчиков.

    %li.sl-l-grid__column
      :markdown
        ## Фреймворки

        Существует бесконечное количество фреймворков, созданных с помощью Sass.
        [Compass](http://compass-style.org/), [Bourbon](http://bourbon.io/) и
        [Susy](http://susy.oddbird.net/) и это лишь некоторые из них.
