---
title: Макеты и сетка
introduction: >
  Мы используем сетку flex-box.
---

%h2 Другие инструменты и ресурсы

%ul.list-feature
  %li= link_to 'У EM есть это: пропорциональные медиа-запросы FTW!', 'http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/'
